# Dependencies
node_modules/
*/node_modules/

# Production builds
dist/
*/dist/
build/
*/build/

# Local databases & storage
*.db
*.db-journal
*.sqlite
*.sqlite-journal
uploads/
*/uploads/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local
*.env

# Testing coverage
coverage/
*/coverage/

# OS / Editor metadata
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
.vercel
